.book {
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transition: 0.2s;
  border-radius: 12px;

  display: grid;
  grid-template-areas:
    "picture  picture"
    "title title"
    "authors authors";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75% min-content 15%;
  align-items: center;
  gap: 5px;
}

.book_type_list-item {
  width: 100%;
  height: 100%;
}

.book_type_profile {
  width: 300px;
  height: 450px;
}

.book__pic {
  grid-area: picture;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px 12px 0 0;
}

.book__title {
  grid-area: title;

  margin: 0;
  padding: 0 5px;
  text-overflow: ellipsis;
  word-wrap: initial;
  white-space: nowrap;
  overflow: hidden;
  font-size: calc(var(--p-size) + 2px);
}

.book__category {
  grid-area: picture;
  margin: 0 auto auto 0;
  padding: 3px 8px;
  font-size: calc(var(--p-size) - 1px);
  width: max-content;
  background-color: var(--gray-color);
  color: rgb(134, 134, 134);
  border-radius: 11px 0 12px 0;
}

.book_authors-list {
  grid-area: authors;
  margin: 0;
  padding: 0 5px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  opacity: 0.7;
}

.book_author {
  margin: 0;
  padding: 0 3px 0 0;
  border-right: 2px solid rgb(134, 134, 134);
  font-size: calc(var(--p-size) - 2px);
}

.book_author:last-of-type {
  padding: 0;
  border: none;
}
