.books {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 50px;
}

.books__counter {
  margin: 0;
  padding: 0;
  font-size: var(--p-size);
}

.books__list {
  width: 90%;
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 300px;
}

.books__item {
  transition: 0.2s;
  border-radius: 12px;
}

.books__link {
  color: black;
  text-decoration: none;
}

.books__item:hover {
  cursor: pointer;
  box-shadow: 0px 7px 9px 1px rgba(0, 0, 0, 0.3);
}
